/* MONTSERRAT FAMILY */
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat", italic;
  src: url(01-fonts/01-Montserrat/Montserrat-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url(01-fonts/01-Montserrat/Montserrat-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
/* END OF MONTSERRAT */

/* SOURCE CODE PRO */
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/01-Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/01-Montserrat/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Source Code Pro";
  src: url(01-fonts/04-Source-Code-Pro/SourceCodePro-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
