:root {
    --primary: #214aff;
    --primary-light: #4164ff;
    --secondary: #e6cf09;
    --grey: #404346;
    --dark: #221d1b;
    --light: hsl(60, 10%, 96%);
    margin-bottom: 10rem;
}

#root {
    position: absolute;
    min-width: 100vw;
    display: block !important;
}

* {
    font-family: 'Source Code Pro', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.contactText:focus {
    color: var(--light) !important;
}

/* redefining color classes */
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary_light {
    background-color: var(--primary_light) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

/* Fontawesome stylings */
a .fa {
    font-size: large;
    color: var(--primary)
}


/*  custom classes */
.container {
    width: 50vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.parent-center {
    position: relative;
    top: 15em;
}

.child-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.justify-center {
    position: relative;
    margin: 0 auto;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* Styling for the individual portfolio works, just the way I have to do it. */

.flex-grid {
    margin: 1rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
}


/*  Work card images */
#workImg {
    background: rgb(255, 255, 255);
}

/* Input styling */

input,
textarea {
    width: 100%;
    padding: .5em;
    background-color: var(--grey) !important;
    border-radius: 10px;
    border: 1px solid var(--dark) !important;
    resize: none;
}

textarea:focus,
input:focus {
    color: var(--dark) !important;
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 5px var(--light);
}

button.submit {
    margin-top: 2rem;
}

a:hover {
    background-color: var(--secondary) !important;
    color: var(--dark) !important;
}

/* margin stuff */
.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.m-3 {
    margin: 3em;
}

.m-4 {
    margin: 4em;
}

.m-5 {
    margin: 5em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.mt-5 {
    margin-top: 5em;
}

/* Font stuff */

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.text-dark {
    color: var(--dark)
}

.text-center {
    text-align: center;
}